@charset "UTF-8";

@font-face {
    font-family: 'SonriText';
    src:url('BubblegumSans-Regular.eot');
    src:url('BubblegumSans-Regular.eot') format('embedded-opentype'),
        url('BubblegumSans-Regular.woff') format('woff'),
        url('BubblegumSans-Regular.woff2') format('woff2'),
        url('BubblegumSans-Regular.ttf') format('truetype'),
        url('BubblegumSans-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'SonriTitle';
    src:url('BradyBunchRemastered.eot');
    src:url('BradyBunchRemastered.eot') format('embedded-opentype'),
        url('BradyBunchRemastered.woff') format('woff'),
        url('BradyBunchRemastered.woff2') format('woff2'),
        url('BradyBunch-Remastered.ttf') format('truetype'),
        url('BradyBunchRemastered.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'SonriFont-Light';
    src: url('weblysleekuil.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'SonriFont-Semibold';
    src: url('weblysleekuisb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'SonriFont-Semilight';
    src: url('weblysleekuisl.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}