page-detalle-constelaciones {

  // Imagen de la mascota
  .imgMascota{
    //width: 200px;
    display: block;
    margin: auto;
    max-height: 200px;
    margin-top: 5% !important;
    padding-left: 4%;
  }

  // Contenedor de la mascota
  .container-mascota{
    height: 260px;
  }

  // Datos de la constelación
  //Contenido
  .infoConstelacion{
    font-family: 'SonriFont-Semilight' !important;
    font-size: 20px !important;
  }

  //Titulos
  .infoConstelacion span{
    font-family: 'SonriFont-Semibold' !important;
  }

  .card-title{
    position: absolute;
    // top: 45%;
    font-size: 26px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-family: 'SonriFont-Semibold' !important;
  }

  .segment-biografia{
    background-color: #FAFAFA;
  }

}
