page-detalle-constelaciones {

  .imgMascota{
    //width: 200px;
    display: block;
    margin: auto;
    max-height: 200px;
  }

  .infoConstelacion{
    font-family: 'SonriText' !important;
    font-weight: bolder;
    font-size: 2.5rem !important;
  }

}
