page-detalle-constelaciones {

  .imgMascota{
    //width: 200px;
    display: block;
    margin: auto;
    max-height: 200px;
    margin-top: 5% !important;
    padding-left: 4%;
  }

  .container-mascota{
    height: 260px;
  }

  .infoConstelacion{
    font-family: 'SonriFont' !important;
    font-weight: bolder;
    font-size: 2.5rem !important;
  }

  .card-title{
    position: absolute;
    // top: 45%;
    font-size: 26px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-family: 'SonriFont-Semibold' !important;
  }

}
