page-constelaciones {
  
  //  Icono de Constelación
  ion-avatar img{
    width: 80px !important;
    height: 80px !important;
  }
  
  //  Nombre de Constelación
  h2{
    font-family: 'SonriFont-Semibold';
    font-size: 20px !important;
  }
  
  //  Departamento Sede
  h3, p{
    font-family: 'SonriFont-Semilight';
    font-size: 18px !important;
  }
  
  //  Propiedad de Label en Page Constelaciones
  .label, .label-md{
    padding-bottom: 2% !important;
    padding-top: 2% !important;
    white-space: normal !important;
  }

}
