page-galeria {

  ion-avatar img{
    width: 80px !important;
    height: 80px !important;
  }

  h2{
    font-family: 'SonriFont-Semibold';
    font-size: 26px !important;
  }

  .label, .label-md{
    padding-bottom: 2% !important;
    padding-top: 2% !important;
    white-space: normal !important;
  }

  ion-item{
    height: 130px;
  }

}
