page-detalle-sonrisauros {

  //Contenedor de la vista
  .scroll-content{
    background-color: #FAFAFA !important;
  }

  // Imagen de la mascota
  .imgMascota{
    //width: 200px;
    display: block;
    margin: auto;
    max-height: 200px;
    margin-top: 5% !important;
    padding-left: 4%;
  }

  // Contenedor de la mascota
  .container-mascota{
    height: 300px;
    background-color: #FFF;
    padding-top: 1px;
  }

  //Segmentación de opciones
  ion-segment{
    background-color: #FFF;
  }

  .segment-ios .segment-button.segment-activated, .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated{
      border-color: #FF0007 !important;
      color: #000 !important;
      font-family: 'SonriFont-Semibold' !important;
      text-transform: capitalize;
      font-size: 18px;
      opacity: 1 !important;
  }

  .segment-button, .segment-ios .segment-button{
    color: #000 !important;
    font-family: 'SonriFont-Semibold' !important;
    text-transform: capitalize !important;
    font-size: 18px !important;
    opacity: 0.3 !important;
  }

  .segment-ios .segment-button{
    border-color: #FF0007 !important;
  }

  .segment-ios .segment-button.segment-activated{
    background-color: #FF0007 !important;
  }

  //Botones de Redes
  .fab-ios{
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  // Datos de la constelación
  //Contenido
  .infoDoctor{
    font-family: 'SonriFont-Semilight' !important;
    font-size: 20px !important;
  }

  //Titulos
  .infoDoctor span{
    font-family: 'SonriFont-Semibold' !important;
  }

  // Historia
  .biografia p{
    font-family: 'SonriFont-Semilight' !important;
    font-size: 18px !important;
    text-align: justify;
    line-height: 30px;
  }

  .card-title{
    position: absolute;
    font-size: 26px;
    width: 100%;
    text-align: center;
    font-family: 'SonriFont-Semibold' !important;
  }

  .segment-biografia{
    padding: 10%;
  }


  @media (min-width: 768px) {

    .container-mascota{
      height: 350px;
      background-color: #FFF;
      padding-top: 15px;
    }
  }

}
