page-contacto {

  // Imagen de Quienes Somos
  ion-card, .card-md {
    display: inline !important;
    margin: 0px !important;
  }

  ion-app.md [padding], ion-app.md [padding] .scroll-content {
    padding: 0px !important;
}

// Titulo de Quienes Somos
.titulo{
  padding-left: 10%;
  text-align: justify;
  font-size: 22px;
  font-family: 'SonriFont-Semilight';
}
  
//Alineamos cualquier texto a la izquierda
.principal{
  padding-top: 5%;
  text-align: left !important;
  font-size: 26px !important;
  font-family: 'SonriFont-Semibold' !important;

}
  
//Contenido de Información
.contInfo{
  font-size: 20px !important;
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
}

//Titulo Dato de Contacto
.datoTitulo{
  font-family: 'SonriFont-Semibold' !important;
  
}
  
//Texto Dato de Contacto
.datoTexto{
  font-family: 'SonriFont-Semilight' !important;
  padding-left: 15%;
  font-size: 18px !important;
}


// Texto de Quienes Somos
.texto{
  padding-left: 10%;
  padding-right: 10%;
  text-align: justify;
  font-size: 18px;
  font-family: 'SonriFont-Semilight' !important;
}

}
