// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

app{

}

ion-app.md [padding], ion-app.md [padding] .scroll-content {
  padding: 8px !important;
}

ion-navbar.toolbar{
  height: 80px !important;
  // background-color: #FF0007 !important;
  text-align: left;
  // padding-right: 2% !important
}

ion-title{
  padding-left: 10% !important;
  font-family: 'SonriFont-Semibold' !important;
  font-size: 18px !important;
  color: #FFF;
}

//Background de la imagen del Menu
.toolbar-background-md {
    // border-color: #b2b2b2;
    background: #FF0007;
}

button .item-inner{
  border-bottom: none !important;
}

.headerMenu{
  background: #FFF !important;
}

.label, .label-md{
  // line-height: 30px !important;
  padding-bottom: 3% !important;
}

// .toolbar-background {
//     // border-color: #b2b2b2;
//     background: #FFF !important;
// }

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #FFF;
}

.toolbar-title-md{
  color: #FFF !important;
}


.favHTitle ion-title{
  font-family: 'SonriFont-Semilight' !important;
}

// .toolbar-title{
//   font-family: 'SonriTitle' !important;
// }

//Logo Menu
.logo{
  padding: 30px;
  padding-left: 65px !important;
}

.img-logo{
  height: 225px
}

.pages button{
  font-family: 'SonriFont-Semilight' !important;
  height: 60px;
  text-align: left;
  vertical-align: middle;
}

// .input-wrapper{
//   font-family: 'SonriText' !important;
// }
