page-nuestra-historia {

  /* Icono Cerrar */
  .closeIcon{
    width: 25px;
    margin-left: 3%;
    margin-top: 3%;
    opacity: 0.5;
    font-size: 2em;
  }

  .protImage {
    max-height: 50%;
    max-width: 60%;
    margin: 18px 0;
  }

}
