page-sonrisauros {

  ion-avatar img{
    width: 80px !important;
    height: 80px !important;
  }

  // h2{
  //   font-family: 'SonriFont-Semibold';
  //   font-size: 26px !important;
  // }

  h2{
    font-family: 'SonriFont-Semibold';
    font-size: 20px !important;
  }

  h3, p{
    font-family: 'SonriFont-Semilight';
    font-size: 18px !important;
  }

  .label, .label-md{
    padding-bottom: 2% !important;
    padding-top: 2% !important;
  }

  ion-item{
    height: 130px;
  }

}
