page-quienes-somos {

  .texto{
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
    font-size: 18px;
    font-family: 'SonriFont-Semilight' !important;
  }

  .titulo{
    padding-left: 10%;
    text-align: justify;
    font-size: 26px;
    font-family: 'SonriFont-Semibold' !important;
  }

  ion-card, .card-md {
    display: inline !important;
    margin: 0px !important;
  }



  ion-app.md [padding], ion-app.md [padding] .scroll-content {
    padding: 0px !important;
}

// @media only screen and (min-width: 320px) and (max-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
//   .img-qs{
//     height: 60%;
//   }
// }

}
