page-payaescuela {

  .video-container{
    padding-left: 2%;
    padding-right: 2%;
    padding: 2%;
    border: none !important;
  }

  .video-container iframe{
    border-style: none;
  }

  @media (max-width: 768px){
    .video-container iframe{
      height: 329px !important;
    }
  }

  @media (max-width: 500px){
    .video-container iframe{
      height: 178px !important;
    }
  }

}
